{
    "plugins": [

        ["prismjs", {
            "languages": ["javascript", "css", "twig", "php"],
            "plugins": [],
            "theme": "default",
            "css": true
        }]
    ]
}
