{
    "plugins": [

        ["prismjs", {
            "languages": ["javascript", "css", "twig", "php", "cpp", "cpp","python", "c", "java", "ruby", "html"],
            "plugins": [],
            "theme": "default",
            "css": true
        }]
    ]
}
